@model GeneralModel


<partial name="_Notification" />
<br />
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Категорії товарів
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
                <div class="row pt-4">
                    <div class="col-12 text-end">
                        <a asp-controller="Category" asp-action="Upsert" class="btn btn-primary">
                            <i class="bi bi-clipboard2-plus"></i> &nbsp; Створити категорію
                        </a>
                    </div>
                </div>
                <br />
                <table class="table table-bordered table-striped" style="width:50%;margin:auto">
                    <thead>
                        <tr class="table-primary">
                            <th>Назва </th>
                            <th>Комісійні, %</th>
                            <th></th>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.CategoryList)
                        {
                            <tr>
                                <td width="30%">@obj.Name</td>
                                <td width="10%">@obj.Commision</td>
                                <td width="10%">
                                    <div class="btn-qroup text-center" role="group">
                                        <a asp-controller="Category" asp-action="Upsert" asp-route-id="@obj.Id"><i class="bi bi-pencil"></i></a>
                                        &nbsp;
                                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id"><i class="bi bi-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-12 text-end">
            <a asp-controller="Good" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-clipboard2-plus"></i> &nbsp; Додати товар
            </a>
        </div>
    </div>
    <br />
    <form method="get">
        <div style="display: flex; justify-content: center; align-items: center;">
            <select style="width:50%" asp-items="@Model.StatusGoodsList" class="form-select" >
                    <option value="">--Оберіть фільтр--</option>
             </select>
            &nbsp;&nbsp;&nbsp;
            <a asp-controller="Good" asp-action="" class="btn btn-outline-success">
                Фільтрувати
            </a>
        </div>
    </form>
    <br />
    <table class="table table-bordered table-striped" style="width:100%;">
        <thead>
            <tr class="table-primary">
                <th>Назва</th>
                <th>Статус</th>
                <th>Опис</th>
                <th>Оціночна Вартість, грн</th>
                <th>Категорія</th>
                <th>Розраховані комісійні, грн</th>
                <th></th>
                <th></th>
        </thead>
        <tbody>
            @foreach (var obj in Model.GoodList)
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.Status</td>
                    <td>@obj.Description</td>
                    <td>@obj.AppraisedValue</td>
                    <td>@obj.Category.Name</td>
                    <td>@obj.Commision</td>
                    
                    <td width="10%">
                        <div class="btn-qroup text-center" role="group">
                            <a asp-controller="Good" asp-action="Upsert" asp-route-id="@obj.Id"><i class="bi bi-pencil"></i></a>
                            &nbsp;
                            <a asp-controller="Good" asp-action="Delete" asp-route-id="@obj.Id"><i class="bi bi-trash"></i></a>
                        </div>
                    </td>

                    <td width="10%">
                        <div class="btn-qroup text-center" role="group">
                            @if (((int)obj.Status) == 0)
                            {
                                <a class="btn btn-success" asp-controller="Good" asp-action="Return" asp-route-id="@obj.Id">Повернути</a>
                            }
                            @if(((int)obj.Status) == 1)
                            {
                                <a class="btn btn-primary" asp-controller="Good" asp-action="PutOnSale" asp-route-id="@obj.Id">Виставити на продаж</a>
                            }
                            @if(((int)obj.Status) == 2)
                            {
                                <a class="btn btn-danger" method="get" asp-controller="SalesInvoice" asp-action="Add" asp-route-id="@obj.Id">Продати</a>
                            }
                        </div>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>