@model IEnumerable<SalesInvoice>

@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-black text-primary">Наявні Видаткові Накладні</h2>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:50%;margin:auto">
        <thead>
            <tr class="table-primary">
                <th>Кількість , шт</th>
                <th>Товар</th>
                <th>Ціна</th>
                <th>До Сплати</th>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="10%">@obj.Сount</td>
                    <td width="20%">@obj.Sell.Good.Name</td>
                    <td width="10%">@obj.Sell.Price</td>
                    <td width="10%">@(@obj.Сount * @obj.Sell.Price)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
